* {
    border-color: #1b4d0f;
    box-sizing: border-box;
}


html, body{
    font-size: 16px;
    font-family: 'Shadows Into Light', cursive;
}


h1{
  font-size: 50px;
  text-align: center;
}


img {
  display: flex;
  max-width: 100%;
}


.main_img {
  width: 2000px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.container{
  max-width: 800px;
  margin: 0 auto;
}


.icon, .text{
  padding: 25px;
  margin-bottom: 22px;
  border: 1px solid #000;
  text-align: center;
}


.icon {
  flex-basis: 25%;
}


.text {
  flex-basis: 72%;
  text-align: left;
  font-size: 30px;
}


h4{
  font-size: 30px;
  text-align: center;
}


/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {
  .flex{
    flex-wrap: wrap;
    display:  flex;
    justify-content: space-between;
    font-size:  2em;
  }

  .main_img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
}
/*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 729px or larger -- so desktop */
}